
[myid="Page3_11"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Page3_label_23"]{
	width: 100% !important;
	margin: 20px 0px !important;
	font-size: 22px !important;
	text-align: center !important; 
 }

[myid="Page3_39"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Page3_label_51"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_text_164"]{
	width: 100% !important;
	margin: 0px 0px 6px 0px !important; 
 }

[myid="Page3_label_93"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_text_114"]{
	width: 100% !important;
	margin: 0px 0px 6px 0px !important; 
 }

[myid="Page3_194"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Page3_label_206"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_text_236"]{
	width: 100% !important;
	margin: 0px 0px 6px 0px !important; 
 }

[myid="Page3_label_275"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_text_299"]{
	width: 100% !important;
	margin: 0px 0px 6px 0px !important; 
 }

[myid="Page3_326"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Page3_label_338"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_474"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Page3_label_486"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_text_534"]{
	width: 100% !important;
	margin: 0px 0px 6px 0px !important; 
 }

[myid="Page3_label_555"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_text_1932"]{
	width: 100% !important;
	margin: 0px 0px 6px 0px !important; 
 }

[myid="Page3_1968"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Page3_label_1980"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_text_1998"]{
	width: 100% !important;
	margin: 0px 0px 6px 0px !important; 
 }

[myid="Page3_812"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Page3_label_824"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_text_851"]{
	width: 100% !important;
	margin: 0px 0px 6px 0px !important; 
 }

[myid="Page3_969"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="Page3_3332"]{
	margin: 6px 0px 6px 0px !important; 
 }

[myid="Page3_1045"]{
	margin: 6px 0px 6px 10px !important; 
 }

[myid="Page3_2028"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

