<div myid="myform" onsubmit="return false;"> 
 <div myid="Page3"> 
  <form [formGroup]="Page3_form1" (ngSubmit)="Page3_form1_onSubmit()" ngxScrollToFirstInvalid="" angular_formname="Page3_form1"> 
   <input type="hidden" id="validate_count" name="latestVal" latest_id="5173" validatearray="" comp_object="" elementcount="33" menu_data_obj="" myid="Page3_hidden_1" display_name="Page3_hidden_1" container=" " dir="ltr"> 
   <input type="hidden" id="save_html_code" page_designed_html="" myid="Page3_hidden_2" display_name="Page3_hidden_2" container=" " dir="ltr"> 
   <div class="page_content_block2" myid="Page3_1667" container=" " dir="ltr"> 
    <div class="unxt_row" myid="Page3_11" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-12" myid="Page3_12" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_1" myid="Page3_label_23" display_name="VERIFICATION" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_23">VERIFICATION </label> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page3_39" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-1" myid="Page3_40" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_2" myid="Page3_label_51" display_name="Page3_label_51" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_51">I </label> 
     </div> 
     <div class="unxt_column unxt_col-sm-4" myid="Page3_55" container=" " dir="ltr"> 
      <input type="text" class="text-box1 form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_6" myid="Page3_text_164" display_name="Page3_text_164" container=" " dir="ltr" entityname="Form1_page3" name="individual_firstname" formControlName="Form1_page3_individual_firstname" [ngClass]="{ 'is-invalid':formRef1.Form1_page3_individual_firstname.errors && (Page3_form1_submitted || formRef1.Form1_page3_individual_firstname.touched || !formRef1.Form1_page3_individual_firstname.pristine) }"> 
      <div *ngIf="formRef1.Form1_page3_individual_firstname.errors && (Page3_form1_submitted || formRef1.Form1_page3_individual_firstname.touched || !formRef1.Form1_page3_individual_firstname.pristine)" class="invalid-feedback"> 
       <div *ngIf="formRef1.Form1_page3_individual_firstname.errors.mandatory">
         {{formRef1.Form1_page3_individual_firstname.errors.msg}} 
       </div> 
      </div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="Page3_79" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_4" myid="Page3_label_93" display_name="Page3_label_93" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_93">[full name in block letters] </label> 
     </div> 
     <div class="unxt_col-sm-4 unxt_column" myid="Page3_100" container=" " dir="ltr"> 
      <input type="text" class="text-box1 form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_5" myid="Page3_text_114" display_name="Page3_text_114" container=" " dir="ltr" entityname="Form1_page3" name="individual_lastname" formControlName="Form1_page3_individual_lastname" [ngClass]="{ 'is-invalid':formRef1.Form1_page3_individual_lastname.errors && (Page3_form1_submitted || formRef1.Form1_page3_individual_lastname.touched || !formRef1.Form1_page3_individual_lastname.pristine) }"> 
      <div *ngIf="formRef1.Form1_page3_individual_lastname.errors && (Page3_form1_submitted || formRef1.Form1_page3_individual_lastname.touched || !formRef1.Form1_page3_individual_lastname.pristine)" class="invalid-feedback"> 
       <div *ngIf="formRef1.Form1_page3_individual_lastname.errors.mandatory">
         {{formRef1.Form1_page3_individual_lastname.errors.msg}} 
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page3_194" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-2" myid="Page3_195" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_7" myid="Page3_label_206" display_name="Page3_label_206" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_206">son / daughter of </label> 
     </div> 
     <div class="unxt_column unxt_col-sm-3" myid="Page3_222" container=" " dir="ltr"> 
      <input type="text" class="text-box1 form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_8" myid="Page3_text_236" display_name="Page3_text_236" container=" " dir="ltr" entityname="Form1_page3" name="parent_name" formControlName="Form1_page3_parent_name" [ngClass]="{ 'is-invalid':formRef1.Form1_page3_parent_name.errors && (Page3_form1_submitted || formRef1.Form1_page3_parent_name.touched || !formRef1.Form1_page3_parent_name.pristine) }"> 
      <div *ngIf="formRef1.Form1_page3_parent_name.errors && (Page3_form1_submitted || formRef1.Form1_page3_parent_name.touched || !formRef1.Form1_page3_parent_name.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-2" myid="Page3_249" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_9" myid="Page3_label_275" display_name="Page3_label_275" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_275">, in the capacity of </label> 
     </div> 
     <div class="unxt_col-sm-5 unxt_column" myid="Page3_285" container=" " dir="ltr"> 
      <input type="text" class="text-box1 form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_10" myid="Page3_text_299" display_name="Page3_text_299" container=" " dir="ltr" entityname="Form1_page3" name="parent_designation" formControlName="Form1_page3_parent_designation" [ngClass]="{ 'is-invalid':formRef1.Form1_page3_parent_designation.errors && (Page3_form1_submitted || formRef1.Form1_page3_parent_designation.touched || !formRef1.Form1_page3_parent_designation.pristine) }"> 
      <div *ngIf="formRef1.Form1_page3_parent_designation.errors && (Page3_form1_submitted || formRef1.Form1_page3_parent_designation.touched || !formRef1.Form1_page3_parent_designation.pristine)" class="invalid-feedback"></div> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page3_326" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-12" myid="Page3_327" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_11" myid="Page3_label_338" display_name="Page3_label_338" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_338">[designation for person other than individual], verify that to the best of my knowledge and belief, the information given in this form is correct and complete and that the other particulars shown therein are truly stated. </label> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page3_474" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-2" myid="Page3_475" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_12" myid="Page3_label_486" display_name="Verified today the" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_486">Verified today the </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="Page3_490" container=" " dir="ltr"> 
      <input type="text" class="text-box1 form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_13" myid="Page3_text_534" display_name="Page3_text_534" container=" " dir="ltr" entityname="Form1_page3" name="day" formControlName="Form1_page3_day" [ngClass]="{ 'is-invalid':formRef1.Form1_page3_day.errors && (Page3_form1_submitted || formRef1.Form1_page3_day.touched || !formRef1.Form1_page3_day.pristine) }"> 
      <div *ngIf="formRef1.Form1_page3_day.errors && (Page3_form1_submitted || formRef1.Form1_page3_day.touched || !formRef1.Form1_page3_day.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-1" myid="Page3_541" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_14" myid="Page3_label_555" display_name="day of" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_555">day of </label> 
     </div> 
     <div class="unxt_column unxt_col-sm-5" myid="Page3_571" container=" " dir="ltr"> 
      <input type="text" class="text-box1 form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_26" myid="Page3_text_1932" display_name="Page3_text_1932" container=" " dir="ltr" entityname="Form1_page3" name="month" formControlName="Form1_page3_month" [ngClass]="{ 'is-invalid':formRef1.Form1_page3_month.errors && (Page3_form1_submitted || formRef1.Form1_page3_month.touched || !formRef1.Form1_page3_month.pristine) }"> 
      <div *ngIf="formRef1.Form1_page3_month.errors && (Page3_form1_submitted || formRef1.Form1_page3_month.touched || !formRef1.Form1_page3_month.pristine)" class="invalid-feedback"></div> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page3_1968" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-2" myid="Page3_1969" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_28" myid="Page3_label_1980" display_name="Page3_label_1980" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_1980">Place </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="Page3_1984" container=" " dir="ltr"> 
      <input type="text" class="text-box1 form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_29" myid="Page3_text_1998" display_name="Page3_text_1998" container=" " dir="ltr" entityname="Form1_page3" name="place" formControlName="Form1_page3_place" [ngClass]="{ 'is-invalid':formRef1.Form1_page3_place.errors && (Page3_form1_submitted || formRef1.Form1_page3_place.touched || !formRef1.Form1_page3_place.pristine) }"> 
      <div *ngIf="formRef1.Form1_page3_place.errors && (Page3_form1_submitted || formRef1.Form1_page3_place.touched || !formRef1.Form1_page3_place.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_col-sm-6 unxt_column" myid="Page3_2241" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page3_812" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-2" myid="Page3_813" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_20" myid="Page3_label_824" display_name="Page3_label_824" container=" " dir="ltr" i18nkey="zform.Page3.Page3_label_824">Name </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="Page3_828" container=" " dir="ltr"> 
      <input type="text" class="text-box1 form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_21" myid="Page3_text_851" display_name="Page3_text_851" container=" " dir="ltr" entityname="Form1_page3" name="name" formControlName="Form1_page3_name" [ngClass]="{ 'is-invalid':formRef1.Form1_page3_name.errors && (Page3_form1_submitted || formRef1.Form1_page3_name.touched || !formRef1.Form1_page3_name.pristine) }"> 
      <div *ngIf="formRef1.Form1_page3_name.errors && (Page3_form1_submitted || formRef1.Form1_page3_name.touched || !formRef1.Form1_page3_name.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_col-sm-6 unxt_column" myid="Page3_2268" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row pull-right" myid="Page3_969" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-12 pull-right" myid="Page3_970" container=" " dir="ltr"> 
      <button type="button" class="secondarybt form_button uniservenxtcmp_button" value="validate" validation="false" formcomponent="true" compname="Button" id="uniservenxtcmp_button_33" myid="Page3_3332" container=" " dir="ltr" display_name="Back" usn_routingstatus="yes" selected_page="page2" sourcemyid="Page3_3332" targetmyid="parent" i18nkey="zform.Page3.Page3_3332" (click)="navigateToComponent('/page2')">Back</button> 
      <style id="blink-style-id" myid="Page3_3608" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_3342" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_3616" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_3069" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_1006" container=" " dir="ltr"> .blink {
        animation: blinker 1s linear infinite;
        }
        @keyframes blinker {
          50% {
            opacity: 0.0;
          }
        }
      </style> 
      <button type="submit" class="primarybt  form_button uniservenxtcmp_button" value="validate" validation="false" formcomponent="true" compname="Button" id="uniservenxtcmp_button_23" myid="Page3_1045" container=" " dir="ltr" i18nkey="zform.Page3.Page3_1045" display_name="Submit ">Submit </button> 
      <style id="blink-style-id" myid="Page3_5128" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_4604" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_3889" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_3612" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_3318" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_3073" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page3_3065" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
     </div> 
    </div> 
   </div> 
   <div class="unxt_row" myid="Page3_2028" container=" " dir="ltr"> 
    <div class="unxt_column unxt_col-md-12" myid="Page3_2029" container=" " dir="ltr"> 
    </div> 
   </div> 
   <div class="UserOwnScript" myid="Page3_24" container=" " dir="ltr"> 
   </div> 
  </form> 
 </div> 
</div>

