
[myid="page2_340"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_352"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	font-size:20px !important;
	padding-bottom:15px !important; 
 }

[myid="page2_383"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_395"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_413"]{
	width: 100% !important;
	margin: 0px 0px 18px 0px !important; 
 }

[myid="page2_444"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_456"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_select_499"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_532"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_544"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_568"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_584"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_596"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_632"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_669"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_681"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_729"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_769"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_781"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_820"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_851"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_863"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_887"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_915"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_927"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_954"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_988"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_1000"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_1039"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_1067"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_1079"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_1124"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_1143"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_2799"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_text_1191"]{
	width: 100% !important;
	margin: 0px 0px 18px !important; 
 }

[myid="page2_1243"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_1255"]{
	width: 100% !important;
	margin: 15px 0px 15px 0px !important;
	font-size:20px !important; 
 }

[myid="page2_1306"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_1356"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_file_1404"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	background-color: #FFFFFF !important; 
 }

[myid="page2_1413"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_1425"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_file_1449"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	background-color: #FFFFFF !important; 
 }

[myid="page2_1464"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_label_1476"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	padding-left:15px !important; 
 }

[myid="page2_file_1491"]{
	width: 100% !important;
	margin: 6px 0px 6px 0px !important;
	background-color: #FFFFFF !important; 
 }

[myid="page2_1674"]{
	border: none !important;
	padding: 0px !important;
	box-shadow: none !important; 
 }

[myid="page2_1686"]{
	margin: 6px 0px 6px 0px !important; 
 }

[myid="page2_1712"]{
	margin: 6px 0px 6px 10px !important; 
 }

