<div myid="myform" onsubmit="return false;"> 
 <div myid="page2"> 
  <form [formGroup]="page2_form1" (ngSubmit)="page2_form1_onSubmit()" ngxScrollToFirstInvalid="" angular_formname="page2_form1"> 
   <input type="hidden" id="validate_count" name="latestVal" latest_id="6381" validatearray="" comp_object="" elementcount="41" menu_data_obj="" myid="page2_hidden_1" display_name="page2_hidden_1" container=" " dir="ltr"> 
   <input type="hidden" id="save_html_code" page_designed_html="" myid="page2_hidden_2" display_name="page2_hidden_2" container=" " dir="ltr"> 
   <div class="page_content_block2" myid="page2_2133" container=" " dir="ltr"> 
    <div class="unxt_row" myid="page2_340" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-12" myid="page2_341" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_6" myid="page2_label_352" display_name="The relevant details in this regard are as under " container=" " dir="ltr" i18nkey="zform.page2.page2_label_352">2. The relevant details in this regard are as under </label> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_383" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_384" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_7" myid="page2_label_395" display_name="(i) Full Name and address of the applicant" container=" " dir="ltr" i18nkey="zform.page2.page2_label_395">(i) Full Name and address of the applicant </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_399" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_8" myid="page2_text_413" display_name="page2_text_413" container=" " dir="ltr" entityname="Form1_page2" name="fullname_address" formControlName="Form1_page2_fullname_address" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_fullname_address.errors && (page2_form1_submitted || formRef1.Form1_page2_fullname_address.touched || !formRef1.Form1_page2_fullname_address.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_fullname_address.errors && (page2_form1_submitted || formRef1.Form1_page2_fullname_address.touched || !formRef1.Form1_page2_fullname_address.pristine)" class="invalid-feedback"> 
       <div *ngIf="formRef1.Form1_page2_fullname_address.errors.mandatory">
         {{formRef1.Form1_page2_fullname_address.errors.msg}} 
       </div> 
      </div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_420" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_444" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_445" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_9" myid="page2_label_456" display_name="(ii) Status" container=" " dir="ltr" i18nkey="zform.page2.page2_label_456">(ii) Status </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_460" container=" " dir="ltr"> 
      <div class="selectGrp uniservenxtcmp_dropdown" id="uniservenxtcmp_dropdown_11" myid="page2_498" container=" " dir="ltr"> 
       <select class="form-dropdown form-control uniservenxtcmp_dropdown" data-validate="temp" formcomponent="true" compname="Dropdown" myid="page2_select_499" display_name="page2_select_499" container=" " dir="ltr" id="uniservenxtcmp_dropdown_40" entityname="Form1_page2" valpr="status" name="status" disppr="status" formControlName="Form1_page2_status" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_status.errors && (page2_form1_submitted || formRef1.Form1_page2_status.touched || !formRef1.Form1_page2_status.pristine) }"><option dir="ltr" value="">Select status</option><option *ngFor="let s of form1Page2StatusSelect" dir="ltr" value="{{s.valueField}}">{{s.displayField}}</option></select> 
       <div *ngIf="formRef1.Form1_page2_status.errors && (page2_form1_submitted || formRef1.Form1_page2_status.touched || !formRef1.Form1_page2_status.pristine)" class="invalid-feedback"></div> 
      </div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_478" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_532" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_533" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_12" myid="page2_label_544" display_name="(iii) Nationality (in case of individual)" container=" " dir="ltr" i18nkey="zform.page2.page2_label_544">(iii) Nationality (in case of individual) </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_548" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_13" myid="page2_text_568" display_name="page2_text_568" container=" " dir="ltr" entityname="Form1_page2" name="nationality" formControlName="Form1_page2_nationality" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_nationality.errors && (page2_form1_submitted || formRef1.Form1_page2_nationality.touched || !formRef1.Form1_page2_nationality.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_nationality.errors && (page2_form1_submitted || formRef1.Form1_page2_nationality.touched || !formRef1.Form1_page2_nationality.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_572" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_584" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_585" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_14" myid="page2_label_596" display_name="(iv) Country of incorporation/registration (in case of others)." container=" " dir="ltr" i18nkey="zform.page2.page2_label_596">(iv) Country of incorporation/registration (in case of others). </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_600" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_15" myid="page2_text_632" display_name="page2_text_632" container=" " dir="ltr" entityname="Form1_page2" name="country" formControlName="Form1_page2_country" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_country.errors && (page2_form1_submitted || formRef1.Form1_page2_country.touched || !formRef1.Form1_page2_country.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_country.errors && (page2_form1_submitted || formRef1.Form1_page2_country.touched || !formRef1.Form1_page2_country.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_657" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_669" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_670" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_16" myid="page2_label_681" display_name="(v) Address of the applicant during the period for which TRC is desired" container=" " dir="ltr" i18nkey="zform.page2.page2_label_681">(v) Address of the applicant during the period for which TRC is desired </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_685" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_17" myid="page2_text_729" display_name="page2_text_729" container=" " dir="ltr" entityname="Form1_page2" name="address" formControlName="Form1_page2_address" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_address.errors && (page2_form1_submitted || formRef1.Form1_page2_address.touched || !formRef1.Form1_page2_address.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_address.errors && (page2_form1_submitted || formRef1.Form1_page2_address.touched || !formRef1.Form1_page2_address.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_757" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_769" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_770" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_18" myid="page2_label_781" display_name="(vi) Email ID" container=" " dir="ltr" i18nkey="zform.page2.page2_label_781">(vi) Email ID </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_785" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_19" myid="page2_text_820" display_name="page2_text_820" container=" " dir="ltr" entityname="Form1_page2" name="email_id" formControlName="Form1_page2_email_id" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_email_id.errors && (page2_form1_submitted || formRef1.Form1_page2_email_id.touched || !formRef1.Form1_page2_email_id.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_email_id.errors && (page2_form1_submitted || formRef1.Form1_page2_email_id.touched || !formRef1.Form1_page2_email_id.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_839" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_851" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_852" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_20" myid="page2_label_863" display_name="(vii) PAN/ TAN (if applicable)" container=" " dir="ltr" i18nkey="zform.page2.page2_label_863">(vii) PAN/ TAN (if applicable) </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_876" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_21" myid="page2_text_887" display_name="page2_text_887" container=" " dir="ltr" entityname="Form1_page2" name="pan_or_tan" formControlName="Form1_page2_pan_or_tan" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_pan_or_tan.errors && (page2_form1_submitted || formRef1.Form1_page2_pan_or_tan.touched || !formRef1.Form1_page2_pan_or_tan.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_pan_or_tan.errors && (page2_form1_submitted || formRef1.Form1_page2_pan_or_tan.touched || !formRef1.Form1_page2_pan_or_tan.pristine)" class="invalid-feedback"> 
       <div *ngIf="formRef1.Form1_page2_pan_or_tan.errors.mandatory">
         {{formRef1.Form1_page2_pan_or_tan.errors.msg}} 
       </div> 
      </div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_903" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_915" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_916" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_22" myid="page2_label_927" display_name="(viii) Basis on which the status of being resident in India is claimed" container=" " dir="ltr" i18nkey="zform.page2.page2_label_927">(viii) Basis on which the status of being resident in India is claimed </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_943" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_23" myid="page2_text_954" display_name="page2_text_954" container=" " dir="ltr" entityname="Form1_page2" name="number" formControlName="Form1_page2_number" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_number.errors && (page2_form1_submitted || formRef1.Form1_page2_number.touched || !formRef1.Form1_page2_number.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_number.errors && (page2_form1_submitted || formRef1.Form1_page2_number.touched || !formRef1.Form1_page2_number.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_976" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_988" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_989" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_24" myid="page2_label_1000" display_name="(ix) Period for which the residence certificate is applicable" container=" " dir="ltr" i18nkey="zform.page2.page2_label_1000">(ix) Period for which the residence certificate is applicable </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_1004" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_25" myid="page2_text_1039" display_name="page2_text_1039" container=" " dir="ltr" entityname="Form1_page2" name="period" formControlName="Form1_page2_period" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_period.errors && (page2_form1_submitted || formRef1.Form1_page2_period.touched || !formRef1.Form1_page2_period.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_period.errors && (page2_form1_submitted || formRef1.Form1_page2_period.touched || !formRef1.Form1_page2_period.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_1058" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_1067" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_1068" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_26" myid="page2_label_1079" display_name="(x) Purpose of obtaining Tax Residency Certificate (must be specified)" container=" " dir="ltr" i18nkey="zform.page2.page2_label_1079">(x) Purpose of obtaining Tax Residency Certificate (must be specified) </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_1095" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_27" myid="page2_text_1124" display_name="page2_text_1124" container=" " dir="ltr" entityname="Form1_page2" name="purpose" formControlName="Form1_page2_purpose" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_purpose.errors && (page2_form1_submitted || formRef1.Form1_page2_purpose.touched || !formRef1.Form1_page2_purpose.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_purpose.errors && (page2_form1_submitted || formRef1.Form1_page2_purpose.touched || !formRef1.Form1_page2_purpose.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_1131" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_1143" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-5" myid="page2_1144" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_41" myid="page2_label_2799" display_name="(xi) Any other detail" container=" " dir="ltr" i18nkey="zform.page2.page2_label_2799">(xi) Any other detail</label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-4" myid="page2_1159" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_29" myid="page2_text_1191" display_name="page2_text_1191" container=" " dir="ltr" entityname="Form1_page2" name="other_details" formControlName="Form1_page2_other_details" [ngClass]="{ 'is-invalid':formRef1.Form1_page2_other_details.errors && (page2_form1_submitted || formRef1.Form1_page2_other_details.touched || !formRef1.Form1_page2_other_details.pristine) }"> 
      <div *ngIf="formRef1.Form1_page2_other_details.errors && (page2_form1_submitted || formRef1.Form1_page2_other_details.touched || !formRef1.Form1_page2_other_details.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="page2_1231" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_1243" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-12" myid="page2_1244" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_30" myid="page2_label_1255" display_name="The following document in support are enclosed: " container=" " dir="ltr" i18nkey="zform.page2.page2_label_1255">3. The following document in support are enclosed: </label> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_1306" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-1" myid="page2_1307" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_32" myid="page2_label_1356" display_name="page2_label_1356" container=" " dir="ltr" i18nkey="zform.page2.page2_label_1356">1. </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-5" myid="page2_1360" container=" " dir="ltr"> 
      <input class="form-upload uniservenxtcmp_button" type="file" file-accept="pdf, doc, docx, xls, xlsx, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif" file-maxsize="1024" file-minsize="0" file-limit="0" formcomponent="true" compname="File Upload" id="uniservenxtcmp_button_33" myid="page2_file_1404" display_name="page2_file_1404" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_1413" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-1" myid="page2_1414" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_34" myid="page2_label_1425" display_name="page2_label_1425" container=" " dir="ltr" i18nkey="zform.page2.page2_label_1425">2. </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-5" myid="page2_1438" container=" " dir="ltr"> 
      <input class="form-upload uniservenxtcmp_button" type="file" file-accept="pdf, doc, docx, xls, xlsx, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif" file-maxsize="1024" file-minsize="0" file-limit="0" formcomponent="true" compname="File Upload" id="uniservenxtcmp_button_35" myid="page2_file_1449" display_name="page2_file_1449" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="page2_1464" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-1" myid="page2_1465" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_36" myid="page2_label_1476" display_name="page2_label_1476" container=" " dir="ltr" i18nkey="zform.page2.page2_label_1476">3. </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-5" myid="page2_1480" container=" " dir="ltr"> 
      <input class="form-upload uniservenxtcmp_button" type="file" file-accept="pdf, doc, docx, xls, xlsx, csv, txt, rtf, html, zip, mp3, wma, mpg, flv, avi, jpg, jpeg, png, gif" file-maxsize="1024" file-minsize="0" file-limit="0" formcomponent="true" compname="File Upload" id="uniservenxtcmp_button_37" myid="page2_file_1491" display_name="page2_file_1491" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row pull-right" myid="page2_1674" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-12" myid="page2_1675" container=" " dir="ltr"> 
      <button type="button" class="secondarybt form_button uniservenxtcmp_button" value="validate" validation="false" formcomponent="true" compname="Button" id="uniservenxtcmp_button_38" myid="page2_1686" container=" " dir="ltr" i18nkey="zform.page2.page2_1686" usn_routingstatus="yes" selected_page="Page1" sourcemyid="page2_1686" targetmyid="parent" (click)="navigateToComponent('/Page1')">Back </button> 
      <style id="blink-style-id" myid="page2_4202" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="page2_3346" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="page2_1719" container=" " dir="ltr"> .blink {
      animation: blinker 1s linear infinite;
      }
      @keyframes blinker {
        50% {
          opacity: 0.0;
        }
      }
    </style> 
      <button type="submit" class="primarybt form_button uniservenxtcmp_button" value="validate" validation="false" formcomponent="true" compname="Button" id="uniservenxtcmp_button_39" myid="page2_1712" container=" " dir="ltr" i18nkey="zform.page2.page2_1712" usn_routingstatus="yes" selected_page="Page3" sourcemyid="page2_1712" targetmyid="parent" (click)="navigateToComponent('/Page3')">Next </button> 
      <style id="blink-style-id" myid="page2_4620" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="page2_4189" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="page2_3759" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="page2_3350" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="page2_1741" container=" " dir="ltr"> .blink {
      animation: blinker 1s linear infinite;
      }
      @keyframes blinker {
        50% {
          opacity: 0.0;
        }
      }
    </style> 
     </div> 
    </div> 
   </div> 
   <div class="UserOwnScript" myid="page2_58" container=" " dir="ltr"> 
   </div> 
  </form> 
 </div> 
</div>

