<div myid="myform" onsubmit="return false;"> 
 <div myid="Page1"> 
  <form [formGroup]="Page1_form1" (ngSubmit)="Page1_form1_onSubmit()" ngxScrollToFirstInvalid="" angular_formname="Page1_form1"> 
   <input type="hidden" id="validate_count" name="latestVal" latest_id="3281" validatearray="" comp_object="" elementcount="23" menu_data_obj="" myid="Page1_hidden_1" display_name="Page1_hidden_1" container=" " dir="ltr"> 
   <input type="hidden" id="save_html_code" page_designed_html="" myid="Page1_hidden_2" display_name="Page1_hidden_2" container=" " dir="ltr"> 
   <div class="page_content_block2" myid="Page1_1455" container=" " dir="ltr"> 
    <div class="unxt_row" myid="Page1_71" container=" " dir="ltr"> 
     <div class="unxt_column nonrepeatable unxt_col-md-5.5" myid="Page1_72" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_4" myid="Page1_label_83" display_name="FORM NO. 10FA" container=" " dir="ltr" i18nkey="zform.Page1.Page1_label_83">FORM NO. 10FA </label> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_22" myid="Page1_label_1308" display_name="[See rule 21AB (3)]" container=" " dir="ltr" i18nkey="zform.Page1.Page1_label_1308">[See rule 21AB (3)] </label> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_6" myid="Page1_label_114" display_name="Page1_label_114" container=" " dir="ltr" i18nkey="zform.Page1.Page1_label_114">Application for Certificate of residence for the purposes of an agreement under section 90 and 90A of the Income-tax Act, 1961 </label> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page1_161" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-12" myid="Page1_162" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_7" myid="Page1_label_173" display_name="To" container=" " dir="ltr" i18nkey="zform.Page1.Page1_label_173">To </label> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_8" myid="Page1_label_193" display_name="The Assessing Officer," container=" " dir="ltr" i18nkey="zform.Page1.Page1_label_193">The Assessing Officer, </label> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page1_214" container=" " dir="ltr"> 
     <div class="unxt_column nonrepeatable unxt_col-md-3" myid="Page1_215" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox text-box uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_9" myid="Page1_text_226" display_name="Page1_text_226" container=" " dir="ltr" entityname="Form1" name="AO_Field1" formControlName="Form1_AO_Field1" [ngClass]="{ 'is-invalid':formRef1.Form1_AO_Field1.errors && (Page1_form1_submitted || formRef1.Form1_AO_Field1.touched || !formRef1.Form1_AO_Field1.pristine) }"> 
      <div *ngIf="formRef1.Form1_AO_Field1.errors && (Page1_form1_submitted || formRef1.Form1_AO_Field1.touched || !formRef1.Form1_AO_Field1.pristine)" class="invalid-feedback"> 
       <div *ngIf="formRef1.Form1_AO_Field1.errors.mandatory">
         {{formRef1.Form1_AO_Field1.errors.msg}} 
       </div> 
      </div> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox text-box uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_10" myid="Page1_text_240" display_name="Page1_text_240" container=" " dir="ltr" entityname="Form1" name="AO_Field2" formControlName="Form1_AO_Field2" [ngClass]="{ 'is-invalid':formRef1.Form1_AO_Field2.errors && (Page1_form1_submitted || formRef1.Form1_AO_Field2.touched || !formRef1.Form1_AO_Field2.pristine) }"> 
      <div *ngIf="formRef1.Form1_AO_Field2.errors && (Page1_form1_submitted || formRef1.Form1_AO_Field2.touched || !formRef1.Form1_AO_Field2.pristine)" class="invalid-feedback"></div> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox text-box uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_11" myid="Page1_text_258" display_name="Page1_text_258" container=" " dir="ltr" entityname="Form1" name="AO_Field3" formControlName="Form1_AO_Field3" [ngClass]="{ 'is-invalid':formRef1.Form1_AO_Field3.errors && (Page1_form1_submitted || formRef1.Form1_AO_Field3.touched || !formRef1.Form1_AO_Field3.pristine) }"> 
      <div *ngIf="formRef1.Form1_AO_Field3.errors && (Page1_form1_submitted || formRef1.Form1_AO_Field3.touched || !formRef1.Form1_AO_Field3.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_col-sm-9 unxt_column" myid="Page1_241" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page1_734" container=" " dir="ltr"> 
     <div class="unxt_column nonrepeatable unxt_col-md-5" myid="Page1_735" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_17" myid="Page1_label_746" display_name="Sir," container=" " dir="ltr" i18nkey="zform.Page1.Page1_label_746">Sir, </label> 
     </div> 
     <div class="unxt_col-sm-7 unxt_column" myid="Page1_787" container=" " dir="ltr"> 
     </div> 
    </div> 
    <div class="unxt_row" myid="Page1_799" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-6" myid="Page1_800" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_19" myid="Page1_label_811" display_name="I request that a certificate of residence in Form No. 10FB be granted in my case/in the case of" container=" " dir="ltr" i18nkey="zform.Page1.Page1_label_811">I request that a certificate of residence in Form No. 10FB be granted in my case/in the case of </label> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="Page1_824" container=" " dir="ltr"> 
      <input type="text" class="form-textbox form-control uniservenxtcmp_textbox text-box uniservenxtcmp_textbox form-textbox" data-validate="temp" autocomplete="off" data-type="input-textbox" size="20" value="" placeholder=" " formcomponent="true" compname="Textbox" id="uniservenxtcmp_textbox_20" myid="Page1_text_838" display_name="Page1_text_838" container=" " dir="ltr" entityname="Form1" name="Individual_Name" formControlName="Form1_Individual_Name" [ngClass]="{ 'is-invalid':formRef1.Form1_Individual_Name.errors && (Page1_form1_submitted || formRef1.Form1_Individual_Name.touched || !formRef1.Form1_Individual_Name.pristine) }"> 
      <div *ngIf="formRef1.Form1_Individual_Name.errors && (Page1_form1_submitted || formRef1.Form1_Individual_Name.touched || !formRef1.Form1_Individual_Name.pristine)" class="invalid-feedback"></div> 
     </div> 
     <div class="unxt_column nonrepeatable unxt_col-sm-3" myid="Page1_848" container=" " dir="ltr"> 
      <label class="form-html uniservenxtcmp_text" formcomponent="true" compname="Label" id="uniservenxtcmp_text_21" myid="Page1_label_862" display_name="[for person other than individual]" container=" " dir="ltr" i18nkey="zform.Page1.Page1_label_862">[for person other than individual] </label> 
     </div> 
    </div> 
    <div class="unxt_row pull-right" myid="Page1_1845" container=" " dir="ltr"> 
     <div class="unxt_column unxt_col-md-12" myid="Page1_1846" container=" " dir="ltr"> 
      <button type="submit" class="btn btn-primary form_button uniservenxtcmp_button primarybt" value="validate" validation="false" formcomponent="true" compname="Button" id="uniservenxtcmp_button_23" myid="Page1_1857" container=" " dir="ltr" display_name="Next" usn_routingstatus="yes" i18nkey="zform.Page1.Page1_1857" selected_page="page2" sourcemyid="Page1_1857" targetmyid="parent" (click)="navigateToComponent('/page2')">Next</button> 
      <style id="blink-style-id" myid="Page1_2639" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page1_2464" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page1_2286" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page1_2078" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
      <style id="blink-style-id" myid="Page1_1864" container=" " dir="ltr"> .blink { animation: blinker 1s linear infinite; } @keyframes blinker {  50% {   opacity: 0.0;   } } </style> 
     </div> 
    </div> 
   </div> 
   <div class="UserOwnScript" myid="Page1_24" container=" " dir="ltr"> 
   </div> 
  </form> 
 </div> 
</div>

