<div elementsection="header" myid="ITD_Wizard_id_10" container="${CONTAINER}" dir="${DIR}"> 
 <div class="headercls" myid="ITD_Wizard_id_11" container="${CONTAINER}" dir="${DIR}"> 
  <div class="" myid="ITD_Wizard_id_12" container="${CONTAINER}" dir="${DIR}"> 
   <div class="col-md-6 col-xs-6" myid="ITD_Wizard_id_13" container="${CONTAINER}" dir="${DIR}"> 
    <div myid="ITD_Wizard_id_14" container="${CONTAINER}" dir="${DIR}"> 
     <img src="assets/images/logo.jpg" class="img-responsive" id="Logo_img" myid="ITD_Wizard_id_15" container="${CONTAINER}" dir="${DIR}"> 
    </div> 
   </div> 
   <div class="col-md-offset-4 col-md-2 col-xs-6" myid="ITD_Wizard_id_16" container="${CONTAINER}" dir="${DIR}"> 
    <div class="" myid="ITD_Wizard_id_17" container="${CONTAINER}" dir="${DIR}"> 
     <select class="form-control" myid="ITD_Wizard_id_18" container="${CONTAINER}" dir="${DIR}" name="language" special-btn="true" importstatus="true"> <option myid="ITD_Wizard_id_19" container="${CONTAINER}" dir="${DIR}" i18nkey="zform.ITD_Wizard.ITD_Wizard_id_19">Select Langauage</option> <option myid="ITD_Wizard_id_20" container="${CONTAINER}" dir="${DIR}" i18nkey="zform.ITD_Wizard.ITD_Wizard_id_20">English</option> </select> 
    </div> 
   </div> 
  </div> 
 </div> 
 <nav class="navbar" role="banner" myid="ITD_Wizard_id_21" container="${CONTAINER}" dir="${DIR}"> 
  <div class="navbar-header" myid="ITD_Wizard_id_22" container="${CONTAINER}" dir="${DIR}"> 
   <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" myid="ITD_Wizard_id_23" container="${CONTAINER}" dir="${DIR}"> <span class="sr-only" myid="ITD_Wizard_id_24" container="${CONTAINER}" dir="${DIR}" i18nkey="zform.ITD_Wizard.ITD_Wizard_id_24">Toggle</span> <span class="icon-bar" myid="ITD_Wizard_id_25" container="${CONTAINER}" dir="${DIR}"></span> <span class="icon-bar" myid="ITD_Wizard_id_26" container="${CONTAINER}" dir="${DIR}"></span> <span class="icon-bar" myid="ITD_Wizard_id_27" container="${CONTAINER}" dir="${DIR}"></span> </button> 
  </div> 
  <div class="collapse navbar-collapse " myid="ITD_Wizard_id_28" container="${CONTAINER}" dir="${DIR}"> 
   <ul class="nav navbar-nav" myid="ITD_Wizard_id_29" container="${CONTAINER}" dir="${DIR}"> 
    <li myid="ITD_Wizard_id_30" container="${CONTAINER}" dir="${DIR}"><a href="#" myid="ITD_Wizard_id_31" container="${CONTAINER}" dir="${DIR}" i18nkey="zform.ITD_Wizard.ITD_Wizard_id_31">Home</a></li> 
   </ul> 
  </div> 
 </nav> 
</div>

